# Pattern programming

1.

In [1]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("5",end="")
    print("\n")

55555

5555

555

55

5

2

In [76]:
for i in range(1,6):
    for j in range(0,6):
        if j<=6-i:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

3

In [20]:
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print((2*i)-1,end=' ')
        else:
            print(" ",end=' ')
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

4

In [2]:
n = int(input("Enter number of rows:"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter number of rows:5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

5

In [22]:
a = 1
b = 2
req_no = b
for row in range(2,6):
    for col in range(a,b):
        req_no -= 1
        print(req_no,end=' ')
    print()
    a = b
    b += row
    req_no =b

1
3 2
6 5 4
10 9 8 7

6

In [28]:
def Func_name(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print(function(i,j)," ", end="")
        print()
            
def function(n,k):
    pra = 1
    if (k > n - k):
        k = n - k
    for i in range(0, k):
        pra = pra * (n - i)
        pra = pra // (i + 1)
        
    return pra
Func_name(7)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1

7

In [32]:
rows = int(input("Enter the number of rows:"))
for i in range (1,row+1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j,end=' ')
    print()

Enter the number of rows:5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

8

In [33]:
rows = int(input("Enter the number of rows:"))
for i in range(1, rows+1):
    for j in range(1, i+1):
        print(i*j,end=' ')
    print()

Enter the number of rows:8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

9

In [35]:
def stars(n):
    p = 2*n -2
    for i in range(n,-1,-1):
        for j in range(p,0,-1):
            print(end=" ")
        p = p+1
        for j in range(0,i+1):
            print("*", end=" ")
        print("\r")
        
stars(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

10

In [42]:
r = int(input("Enter the number of rows:"))
s = (2 * r) - 2
for i in range(0,r):
    for j in range(0,s):
        print(end=" ")
    s = s - 1
    for j in range(0, i + 1):
        print("* ",end=' ')
    print(" ")

Enter the number of rows:7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

11

In [78]:
rows = int(input("Enter number of rows"))

for i in range(0, rows):
    for j in range(0, i + 1):
        print('*',end=' ')
    print(" ")
 

for i in range(rows + 1, 0, -1):
    for j in range(0,i - 1):
        print('*',end=' ')
    print(" ")

Enter number of rows5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

12

In [59]:
def stars(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("* ",end="")
        print("\r")
    for i in range(n, -1, -1):
        for j in range(0, i + 1):
            print("* ",end="")
        print("\r")
stars(5)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

13

In [65]:
def trio(n):
    k = 2 * n - 2
    for i in range(0, n-1):
        for j in range(0,k):
            print(end=" ")
        k = k-2
        for j in range(0, i+1):
            print("* ", end="")
        print("\r")
    k = -1
    for i in range(n-1,-1,-1):
            for j in range(k,-1,-1):
                print(end=" ")
            k = k + 2
            for j in range(0, i+1):
                print("* ",end="")
            print("\r")
            
trio(5)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

14

In [70]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        #display space
        print('',end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()  
    i += 1
    
i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j +=1
    k = i
    while k <= rows - 1:
        print('*',end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

15

In [74]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i !=0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i -1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*